/*  your css code here. If applicable */
div{
	border:2px solid black;
	width:200px;
	height:200px;
	background-color:skyblue;
	font-weight:600;
	font-size:17px;
	color:purple;
}
div span{
	position:relative;
	top:100px;
	left:50px;
}